body{
    background-color: black;
    text-align: center;
}

.start h1{
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.start a{
    color: aquamarine;
    font-size: 16px;
    font-family: Verdana;
}